# Ignore list for DesignSpark PCB, a PCB layout tool
desktop.ini

Archive/
Web/
*_backup/

# Backup files
~*.prj
~*.sch
~*.pcb

# Report files
*.mop
*.txt
#*.csv
*.htm

*.dxf

# Exported images and docs
*.bmp
*.png
*.jpg
*.pdf
*.xls
*.xlsx

# Production files
*.gmo
*.gbp
*.gbs
*.gbl
*.drl
*.gtp
*.gts
*.gtl
*.gto
*.gbr

*.zip